table{
  margin: 0;
  border-collapse: collapse;
  display: block;
  border-spacing: 0;
  padding: 0;
  float: left;
}
tr{
  padding: 0;
  border: 3px solid black;
}

td{
border: 1px solid black;
}

body {
  background-image: url('img/bg.jpg');
    overflow:hidden;
}
.cell{
  position: relative;
  float: left;
  z-index: 10;
  border: none;
  width: 70px;
  height: 70px;
}
.posit2{
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  z-index: 20;
  left: 15%;
  top: 20%;
}

.posit3{
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  z-index: 20;
  left: 18%;
  top: 22%;
}


/******** ANIMATION **********/

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s ease-in-out forwards; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s ease-in-out forwards;
}

.rot {
    -webkit-animation:coinflip 1s linear;
    animation:coinflip 1s linear;
}

@-webkit-keyframes coinflip {
    0% {
        -webkit-transform:rotateY(0deg);

    }
    100% {
        -webkit-transform:rotateY(360deg);
    }
}

@keyframes coinflip {
    0% {
        transform:rotateY(0deg);
    }
    100% {
        transform:rotateY(360deg);
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.selectB:hover{
  filter: brightness(200%);
  -webkit-filter: brightness(200%);
}
.selectP:hover{
  filter: brightness(135%);
  -webkit-filter: brightness(135%);
}
