<!DOCTYPE html>
<html manifest="game.appcache" lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reversi</title>
  <meta name="description" content="Reversi game">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-touch.min.js"></script>
  <script src="game.js"></script>
  <script src="gameLogic.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/scaleBodyService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-controller="Ctrl">
<table cellpadding="0">
  <tr ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7]">
    <td ng-repeat="col in [0, 1, 2, 3, 4, 5, 6, 7]"
    ng-click="cellClicked(row, col)">
    <div ng-class="{cell:true}">
      <img src = "img/piece2.jpg" div ng-class ="{cell:true}" ng-show = "oddSum(row, col)">
      <img src = "img/piece1.jpg" ng-class = "{cell:true}" ng-show = "evenSum(row, col)">
      <img src = "img/bDisk.png" ng-class ="{posit2: true, rot: true, slowlyAppear: shouldSlowlyAppear(row, col)}" ng-show = "isBlack(row, col)">
      <img src = "img/wDisk.png" ng-class ="{posit3: true,  rot: true, slowlyAppear: shouldSlowlyAppear(row, col)}" ng-show = "isWhite(row, col)">
    </div>
    </td>
  </tr>
</table>
</body>
</html>
